In [1]:
import numpy as np
import missingno as mn
import pandas as pd

In [2]:
data = pd.read_csv('./RefinedData/Training_dataset_Original.csv', low_memory=False)

In [3]:
data.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,230032,1696,1.6541,0.000,0.0,0.0,0,6015,322,40369,...,1,73.78,82.547,0.08696,10,0.63899,na,0,C,0
1,230033,1846,0.8095,0.000,0.0,0.0,102,7532,3171,18234,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,230034,1745,0.4001,0.000,0.0,0.0,missing,2536,missing,missing,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,230035,1739,0.2193,0.000,0.0,0.0,1982,26440,4955,20316,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,230036,1787,0.0118,0.225,0.0,0.0,5451,5494,5494,7987,...,0,115.019,missing,0,1,0.92665,na,na,L,0

In [4]:
data = data.replace("nan", np.nan)
data = data.replace("missing", np.nan)
data = data.replace("na", np.nan)

In [5]:
def draw_missing_data_table(df):
    total = df.isnull().sum().sort_values(ascending=False)
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    return missing_data

In [6]:
draw_missing_data_table(data)

                 Total   Percent
mvar40           62557  0.781963
mvar31           56218  0.702725
mvar41           54578  0.682225
mvar45           44855  0.560688
mvar11           44819  0.560238
mvar23           40248  0.503100
mvar30           36417  0.455213
mvar35           33014  0.412675
mvar15           32067  0.400838
mvar22           29124  0.364050
mvar46           22789  0.284863
mvar21           22561  0.282012
mvar6            18964  0.237050
mvar8            18964  0.237050
mvar24           18902  0.236275
mvar16           18510  0.231375
mvar17           15846  0.198075
mvar18           14771  0.184638
mvar12           14078  0.175975
mvar27           13209  0.165112
mvar9            11408  0.142600
mvar26           10610  0.132625
mvar13            8352  0.104400
mvar44            7745  0.096812
mvar37            7706  0.096325
mvar32            7706  0.096325
mvar25            7706  0.096325
mvar7             7394  0.092425
mvar39            6040  0.075500
mvar2             5553  0.069413
mvar1             3639  0.045488
mvar36            2898  0.036225
mvar42            1901  0.023762
mvar33            1751  0.021888
mvar43             818  0.010225
mvar20             502  0.006275
mvar34             502  0.006275
mvar29             502  0.006275
mvar28             502  0.006275
mvar38             502  0.006275
mvar10             502  0.006275
mvar5              501  0.006262
mvar3              501  0.006262
mvar4              501  0.006262
mvar19               4  0.000050
default_ind          0  0.000000
mvar14               0  0.000000
mvar47               0  0.000000
application_key      0  0.000000

In [7]:
def RemoveCols(data):
    data.drop('mvar40', axis=1, inplace=True)
    data.drop('mvar31', axis=1, inplace=True)
    data.drop('mvar41', axis=1, inplace=True)
    data.drop('mvar11', axis=1, inplace=True)
    data.drop('mvar23', axis=1, inplace=True)
    data.drop('mvar45', axis=1, inplace=True)
    data.drop('mvar30', axis=1, inplace=True)
    data.drop('mvar35', axis=1, inplace=True)
    data.drop('mvar15', axis=1, inplace=True)
    data.drop('mvar22', axis=1, inplace=True)
    return data

In [8]:
def process(data):
#     mn.dendrogram(data)
#     mn.heatmap(data)
#     mn.bar(data)
#     mn.matrix(data)
    # data.mean(skipna = True)
    # data['mvar1'].mean(skipna = True)
    # data.median()
    data['mvar47'] = data['mvar47'] == 'C'
#     data['mvar47'].head()
    data = RemoveCols(data)
    
    data = data.astype(dtype='float64')
    data = data.fillna(data.mean())
    return data

In [9]:
print(data)
data = process(data)

       application_key mvar1   mvar2   mvar3  mvar4  mvar5  mvar6   mvar7  \
0               230032  1696  1.6541   0.000  0.000  0.000      0    6015
1               230033  1846  0.8095   0.000  0.000  0.000    102    7532
2               230034  1745  0.4001   0.000  0.000  0.000    NaN    2536
3               230035  1739  0.2193   0.000  0.000  0.000   1982   26440
4               230036  1787  0.0118   0.225  0.000  0.000   5451    5494
5               230037  1579     NaN   3.502  0.000  0.000    NaN     NaN
6               230038  1818  0.4001   0.000  0.000  0.000    NaN    1088
7               230039   NaN     NaN     NaN    NaN    NaN    NaN     NaN
8               230040  1836  0.1358   0.000  0.000  0.000    347   38964
9               230041  1839  0.1981   0.000  0.000  0.000    793    6131
10              230042  1903  0.0000   0.000  0.000  0.000     22   19518
11              230043  1681  1.5888   5.685  3.566  0.000     93    3554
12              230044  1841  0.5388   0.000  0.000  0.000   1487   19449
13              230045  1794  1.9684   0.000  0.000  0.000    856    8609
14              230046  1669  3.8558  18.465  6.292  1.200    NaN     142
15              230047  1583  3.0284  16.325  0.000  0.000    NaN     NaN
16              230048  1899  0.0970   0.000  0.000  0.000   1015   13379
17              230049  1690  8.7747  10.437  0.000  0.000    122     623
18              230050  1599  0.8601   1.525  1.525  0.000    NaN     878
19              230051  1859  0.0155   0.368  0.000  0.000    424   86509
20              230052  1880  2.6101   0.000  0.000  0.000      0   19252
21              230053  1852  3.6201   0.000  0.000  0.000    799   16515
22              230054  1655  3.0268  14.748  0.000  0.000     48      48
23              230055  1863  0.0401   0.000  0.000  0.000   1487    4955
24              230056  1753  0.2251   0.000  0.000  0.000   1124    1124
25              230057  1894  0.0318   0.000  0.000  0.000   4655    7433
26              230058  1803  0.3993   0.000  0.000  0.000    496   10505
27              230059  1932  0.3276   0.000  0.000  0.000   6982   21569
28              230060  1714  5.1904   0.770  0.000  0.000      0    1889
29              230061   NaN  2.0457   4.514  0.000  0.000    NaN     NaN
...                ...   ...     ...     ...    ...    ...    ...     ...
79970           310002  1834  1.2164   0.000  0.000  0.000   2212    5244
79971           310003  1729  1.3696   0.000  0.000  0.000    356    4218
79972           310004  1753  5.8283   0.000  0.000  0.000    180    4014
79973           310005  1748  1.9635   0.642  0.000  0.000    291    3469
79974           310006  1771  1.7588   0.000  0.000  0.000     66   12626
79975           310007  1766  0.9540   0.000  0.000  0.000   1140   10207
79976           310008  1822  0.0000   1.853  1.853  0.000   2581   13361
79977           310009  1824  0.5634   0.000  0.000  0.000   3964    4683
79978           310010  1914  0.0544   0.000  0.000  0.000   3469   20424
79979           310011  1600  2.6649  18.282  1.078  2.678      0    7205
79980           310012  1822  0.5851   0.000  0.000  0.000      0   23685
79981           310013  1693  0.1828  17.767  2.024  0.000    114   27514
79982           310014  1735  3.1701   0.260  0.000  0.000    117     892
79983           310015  1671  0.1380   0.000  0.000  0.000    NaN     491
79984           310016  1924  0.1221   0.000  0.000  0.000   2478  266683
79985           310017  1670  0.0347   9.836  0.000  0.000    212    7848
79986           310018  1901  0.1782   0.000  0.000  0.000   4955   21753
79987           310019  1835  0.5372   0.000  0.000  0.000      0   29723
79988           310020  1927  0.0410   0.000  0.000  0.000  22000   30046
79989           310021   NaN  0.1451   0.000  0.000  0.000    NaN     NaN
79990           310022  1941  0.4834   0.000  0.000  0.000  10846   52806
79991           310023  1899     NaN   0.000  0.000  0.000   7310   14519
79992           310024  1761  2.0999   0.000  0.000  0.000     47   13477
79993           310025  1700  0.3831   0.000  0.000  0.000    344     344
79994           310026  1910  0.0000   0.000  0.000  0.000   4955   47306
79995           310027  1736  2.1740   0.000  0.000  0.000     11    4248
79996           310028  1724  0.0000   1.108  0.768  0.000    NaN   64041
79997           310029  1605  0.2901  11.561  0.937  2.976    NaN    2277
79998           310030  1780  1.1874   0.000  0.000  0.000      0    6356
79999           310031  1727  1.9288   1.441  0.000  0.000      0   25773

        mvar8   mvar9     ...     mvar39   mvar40  mvar41   mvar42  mvar43  \
0         322   40369     ...          1    73.78  82.547  0.08696      10
1        3171   18234     ...          0   99.129     NaN        0      13
2         NaN     NaN     ...          0      NaN   29.29        0       1
3        4955   20316     ...          0   96.272     NaN  0.15385       3
4        5494    7987     ...          0  115.019     NaN        0       1
5         NaN     NaN     ...        NaN      NaN     NaN      1.5       0
6         NaN    1536     ...          0   88.171     NaN        0       2
7         NaN     NaN     ...        NaN      NaN     NaN      NaN     NaN
8       17828   70729     ...          0      NaN     NaN        0      10
9        6045   48959     ...          0      NaN   45.59  0.08824      14
10       9910   90618     ...          0      NaN     NaN        0      17
11        439    2527     ...          1      NaN     NaN  0.61111       7
12      19449    6739     ...          0      NaN     NaN        0       5
13       8609   60545     ...          0      NaN     NaN        0      13
14        NaN      38     ...          0  107.825  98.664     0.56      11
15        NaN   51450     ...          0      NaN     NaN  0.32353       2
16      13379  246906     ...          0   10.384     NaN        0      19
17        299    1140     ...          0      NaN     NaN  0.63636       5
18        NaN     NaN     ...          1      NaN  91.175      0.8       0
19      12451   86635     ...          0      NaN     NaN        0      12
20       6342   59601     ...          0      NaN  72.497        0      14
21      16515  110651     ...          0      NaN     NaN        0      13
22         48     198     ...          0      NaN     NaN        1       1
23       4955   22902     ...          0   96.895     NaN        0      12
24       1124       0     ...          0      NaN     NaN      NaN       0
25       7433   25667     ...          0      NaN       0        0       3
26        496     991     ...          0   91.752  87.306      0.2       5
27      18829  187209     ...          0      NaN     NaN        0      11
28        595   12574     ...          0      NaN     NaN  0.35714       6
29        NaN     NaN     ...        NaN      NaN     NaN  1.16667       0
...       ...     ...     ...        ...      ...     ...      ...     ...
79970    4203   16743     ...          0      NaN  97.398        0       8
79971    1982   18657     ...          0      NaN  83.663  0.09091       6
79972     617    3667     ...          0      NaN  87.094  0.11111       9
79973    3469   13131     ...          0      NaN  92.244     0.44      14
79974    6433   27946     ...          0      NaN  40.477        0      10
79975   10207   55001     ...          0      NaN     NaN     0.05      14
79976    5946   31018     ...          0   73.611  44.656  0.03448      20
79977    4683     NaN     ...          0      NaN     NaN      NaN     NaN
79978   20424   78774     ...          0      NaN     NaN        0       8
79979       0     956     ...          1  132.335  56.867  0.55263      14
79980   23685  208174     ...          0      NaN     NaN        0      17
79981     384    2329     ...          0   74.814     NaN  0.17857       5
79982     117    3766     ...          0      NaN  99.026        0       2
79983     NaN     NaN     ...          0      NaN     NaN      0.8       2
79984  266683  405300     ...          0      NaN  70.799        0      13
79985     491   29785     ...          0      NaN    78.7  0.13636      10
79986   12673   70293     ...          0      NaN  61.301        0      10
79987    3964   66770     ...          0      NaN     NaN        0       9
79988   24165   75019     ...          0      NaN  19.444        0       7
79989     NaN     NaN     ...        NaN      NaN     NaN      1.5       0
79990   35478  136461     ...          0      NaN     NaN  0.05882       8
79991   14519    5252     ...          0      NaN     NaN        0       3
79992    1814    9320     ...          0      NaN     NaN    0.125       5
79993     344     991     ...          0      NaN     NaN  0.66667       2
79994   47306   88124     ...          0      NaN     NaN        0       4
79995    1577   13379     ...          0      NaN  78.378        0       4
79996     NaN   10926     ...          0      NaN  38.325  0.16667      14
79997     NaN    3964     ...          2   101.85  93.142      0.5       4
79998    4802    3206     ...          0      NaN  77.022  0.06061       9
79999    2869  132985     ...          0     32.4     NaN  0.07143      12

        mvar44 mvar45 mvar46 mvar47 default_ind
0      0.63899    NaN      0      C           0
1      0.63836    NaN    NaN      L           1
2      1.00000    NaN      0      C           1
3      0.53241      0      0      L           0
4      0.92665    NaN    NaN      L           0
5          NaN    NaN    NaN      C           1
6      0.87224    NaN      0      C           1
7          NaN    NaN    NaN      C           0
8      0.89868      0      0      L           0
9      0.33834    NaN      0      L           0
10     0.80620      0      0      L           0
11     0.81172      0      0      C           0
12     0.98031    NaN    NaN      C           0
13     0.35724    NaN      0      C           0
14     0.29169    NaN      1      C           0
15         NaN      0    NaN      C           0
16     0.47480      0      0      L           0
17     0.94951    NaN      0      L           0
18     1.00000    NaN      0      C           1
19     0.34730      0      0      L           0
20     0.28708    NaN      0      L           0
21     0.75349    NaN    NaN      L           0
22     1.00000    NaN    NaN      C           1
23     0.40853    NaN      0      L           0
24     1.00000    NaN    NaN      C           1
25     0.99419      0      0      L           0
26     0.75289      0      0      L           0
27     0.99710      0      0      C           0
28     0.85082      0      0      L           0
29         NaN    NaN    NaN      L           0
...        ...    ...    ...    ...         ...
79970  0.58040    NaN      0      C           0
79971  0.62632      0      0      C           0
79972  0.59364    NaN      0      L           0
79973  0.83809      0      0      L           0
79974  0.46863    NaN      0      C           0
79975  0.54754    NaN    NaN      C           0
79976  0.23177    NaN      0      C           0
79977  0.67222    NaN    NaN      C           0
79978  1.00000      0      0      L           0
79979  0.11763    NaN      0      L           1
79980  0.81438      0    NaN      L           0
79981  0.53340    NaN      0      C           0
79982  0.96747    NaN      0      C           1
79983  1.00000    NaN    NaN      C           0
79984  0.75322      0      0      L           0
79985  0.85771    NaN      0      L           0
79986  0.86356      0      0      L           0
79987  0.41685      0      0      L           0
79988  0.53750      0      0      L           0
79989      NaN    NaN    NaN      L           0
79990  0.84170      0      0      L           0
79991  0.44615    NaN    NaN      L           0
79992  0.73640      0      0      C           1
79993  0.97374      0      0      C           1
79994  0.79867    NaN    NaN      L           0
79995  0.43829    NaN      0      C           0
79996  0.57931      0      0      C           0
79997  0.42069    NaN      0      C           1
79998  0.53251    NaN      0      L           0
79999  0.68482      0      0      C           1

[80000 rows x 49 columns]

In [10]:
print(data.head())

   application_key   mvar1   mvar2  mvar3  mvar4  mvar5        mvar6    mvar7  \
0         230032.0  1696.0  1.6541  0.000    0.0    0.0     0.000000   6015.0
1         230033.0  1846.0  0.8095  0.000    0.0    0.0   102.000000   7532.0
2         230034.0  1745.0  0.4001  0.000    0.0    0.0  1606.702372   2536.0
3         230035.0  1739.0  0.2193  0.000    0.0    0.0  1982.000000  26440.0
4         230036.0  1787.0  0.0118  0.225    0.0    0.0  5451.000000   5494.0

        mvar8         mvar9     ...       mvar36     mvar37  mvar38  mvar39  \
0   322.00000  40369.000000     ...          8.0  10.000000     4.0     1.0
1  3171.00000  18234.000000     ...          8.0   0.000000     2.0     0.0
2  6773.68666  34097.436013     ...          1.0   4.251362     1.0     0.0
3  4955.00000  20316.000000     ...          3.0   3.000000     2.0     0.0
4  5494.00000   7987.000000     ...          2.0   3.000000     2.0     0.0

    mvar42  mvar43   mvar44    mvar46  mvar47  default_ind
0  0.08696    10.0  0.63899  0.000000     1.0          0.0
1  0.00000    13.0  0.63836  0.096135     0.0          1.0
2  0.00000     1.0  1.00000  0.000000     1.0          1.0
3  0.15385     3.0  0.53241  0.000000     0.0          0.0
4  0.00000     1.0  0.92665  0.096135     0.0          0.0

[5 rows x 39 columns]

In [11]:
data.to_csv('./RefinedData/refined_training_data.csv', index = False)