In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./training_data_v3.csv', low_memory=False)

In [3]:
data.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar36,mvar37,mvar38,mvar39,mvar42,mvar43,mvar44,mvar46,mvar47,default_ind
0,0.000000,0.444201,0.045909,0.000000,0.0,0.0,0.000000,0.009766,0.001103,0.080936,...,0.106061,0.166667,0.042105,0.066667,0.043480,0.109890,0.615677,0.0,1.0,0.0
1,0.000013,0.772429,0.022467,0.000000,0.0,0.0,0.002927,0.012230,0.010867,0.036558,...,0.106061,0.000000,0.021053,0.000000,0.000000,0.142857,0.615006,0.0,0.0,1.0
2,0.000038,0.538293,0.006087,0.000000,0.0,0.0,0.056874,0.042930,0.016980,0.040732,...,0.030303,0.050000,0.021053,0.000000,0.076925,0.032967,0.502214,0.0,0.0,0.0
3,0.000050,0.643326,0.000328,0.001297,0.0,0.0,0.156418,0.008921,0.018827,0.016013,...,0.015152,0.050000,0.021053,0.000000,0.000000,0.010989,0.921913,0.0,0.0,0.0
4,0.000100,0.750547,0.003769,0.000000,0.0,0.0,0.009957,0.063265,0.061095,0.141805,...,0.075758,0.200000,0.021053,0.000000,0.000000,0.109890,0.892137,0.0,0.0,0.0

In [5]:
data.shape

(62346, 39)

In [ ]:
for i in range(0,62346):
    print(data['application_key'][i])